<h1>商品詳細</h1>

<div>
   <p>id:<%=@product.id%> </p>
  <p>商品名: <%= @product.name %></p>
  <p>説明: <%= @product.description %></p>
  <p>価格: <%= @product.price %>円</p>
  <%= link_to "編集", edit_product_path(@product) %>
 <br>

 <%= link_to '削除', product_path(@product.id),  data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
</div>